.header {
  h1 {
    font-size: 0.875rem;
    font-weight: 400;
    opacity: 0.5;
    margin-bottom: 0;
  }
  .navbar {
    padding: 2rem 0;
    .navbar-brand {
      padding-top: 0;
    }
    .navbar-nav {
      .nav-item {
        margin-right: 2.75rem;

        a {
          color: $black;
          font-size: 0.875rem;
          font-weight: 400;
          text-transform: uppercase;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}
.modal-header {
  background-color: $primary;
  border: none;
}
.modal-body {
  margin: 1.35rem 2rem;
  .btn {
    text-transform: uppercase;
    border: 1px solid $gray-900;
    padding: .5rem 3rem;
  }
}